<div class="container" style="margin-top:3em">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Descrição:</strong>
    <%= @party.description %>
  </p>

  <%= link_to 'Edit', edit_party_path(@party) %> |
  <%= link_to 'Back', parties_path %>
</div>