<div class="container" style="margin-top:3em">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Descrição:</strong>
    <%= @power.description %>
  </p>

  <%= link_to 'Edit', edit_power_path(@power) %> |
  <%= link_to 'Back', powers_path %>
</div>