<div class="container" style="margin-top:3em">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Descrição:</strong>
    <%= @scale.description %>
  </p>

  <%= link_to 'Edit', edit_scale_path(@scale) %> |
  <%= link_to 'Back', scales_path %>
</div>