<div class="container" style="margin-top:3em">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Descrição:</strong>
    <%= @state.description %>
  </p>

  <%= link_to 'Edit', edit_state_path(@state) %> |
  <%= link_to 'Back', states_path %>
</div>