<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @population.description %>
</p>

<%= link_to 'Edit', edit_population_path(@population) %> |
<%= link_to 'Back', populations_path %>
