<div class="container" style="margin-top:3em">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Descrição:</strong>
    <%= @population.description %>
  </p>

  <%= link_to 'Edit', edit_population_path(@population) %> |
  <%= link_to 'Back', populations_path %>
</div>